<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Compasstic_V.1</title>

    <link href="css/mainStyle.css" rel="stylesheet">

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories.js"></script>
    <script src="js/controllers/prototype1Ctrl.js"></script>
</head>
<body  ng-app="compasstic" ng-controller="prototype1Ctrl">
    <div id="tools">
        <!--Select page-->
        <select class="pagesList tool" ng-model="selectedPage">
            <option value="_">Select a page to crawl</option>
            <option ng-repeat="page in pages" value="{{page.id}}">{{page.name}}</option>
        </select>
        <!--Set topic-->
        <input type="text" class="tool" placeholder="Topic" ng-model="selectedTopic">
        <button class="tool" ng-click="getSentiment()">Get Sentiment</button>
        Statue: {{statue}}.
        <hr>
        <div ng-if="BOWReady">
            <input type="text" class="tool" placeholder="word" ng-model="BOWSearch">
            <button class="tool" ng-click="testBOW(BOWSearch)">Test BOW</button>
        </div>

    </div>
    <div id="result">
        <div  ng-show="readyToClass" >
            <p ng-repeat="comment in comments">
                {{$index+1}}- {{comment.message}}<br>
                Feeling: {{comment.class||'-'}}</b>
                <button ng-click="classComment($index)">Class</button>

            </p>
        </div>
    </div>
</body>
</html>